version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: kitap_postgres
    restart: always
    environment:
      POSTGRES_USER: kitap_user
      POSTGRES_PASSWORD: kitap_pass
      POSTGRES_DB: kitap_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: kitap_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
