version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: kitap_postgres
    restart: always
    environment:
      POSTGRES_USER: kitap_user
      POSTGRES_PASSWORD: kitap_pass
      POSTGRES_DB: kitap_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: kitap_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - postgres

  redis:
    image: redis:latest
    container_name: kitap_redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    command: [ "redis-server", "--appendonly", "yes" ]

  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: kitap_redisinsight
    restart: always
    ports:
      - "8008:5540"
    depends_on:
      - redis
    volumes:
      - redisinsight_data:/db

  minio:
    image: minio/minio:latest
    container_name: kitap_minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    ports:
      - "9002:9000"   # S3 API
      - "9003:9001"   # Web UI
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  redis_data:
  redisinsight_data:
  minio_data:
